################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OPCUA_Server/bin/Debug/net8.0
/OPCUA_Server/obj
